<h1> All Notes </h1>

<% @notes.each do |note| %>

  <p> <%= note.title %> </p>
  <p> <%= note.description %> </p>

  <% if note.tag? %>
    <i><u> <%= note.tag %> </u></i>
  <% end %>


<% end %>

<br>

<%= link_to 'Note It', new_note_path %>
